<!DOCTYPE html>
<html>
<head>
	<title></title>

	<% include head %>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">

</head>
<body>

	<% include navbar %>

	<h1 class=text-center><%=movieData.title%></h1>

	<div class="container">
		<div class="row">
			<div class="col-sm-5">

				<img id="poster" src="<%=imageBaseUrl + movieData.poster_path%>">
			</div>
			<div class="col-sm-7">
				<p><%=movieData.overview%></p>
				<p>Runtime: <%=movieData.runtime%> minutes</p>
				<p>Release Date: <%=movieData.release_date%></p>
				<p>Rating: <%=movieData.popularity%></p>
			</div>
		
		</div>
	</div>





</body>
</html>